:root {
    --square-size: 5vmin; /* Default square size */
  }
  
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #040338;
  font-family: Arial, sans-serif;
}
#moveCount {
    background-color: #ffffff;
}
#menuHeader {
    background: radial-gradient( #dbd800 20%, #ffa000 50%, #dbd800 80%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 5em;
    background-size: 200% auto;
    animation: shine 2s linear infinite;
  }
  
  @keyframes shine {
    from {
      background-position: 200% center;
    }
    to {
      background-position: -200% center;
    }
  }

  #levelMenuContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
  }
  
  
  #levelSelection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1vmin;
  }
#app {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0 1vmin;
  background-color: #000000;
}


#gameInfo {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 1vmin;
  background-color: #000000;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  width: 16vmin;
  margin-right: 1vmin;
}

#gameGrid {
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 2px; /* Adjust the gap between cells as needed */
  }
  
  .squareWrap {
    width: var(--square-size);
    height: var(--square-size);
    display: flex;
    justify-content: center;
    align-items: center;
  }

.square {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Dynamic sizing for squares */
  .square {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%; 
  }
  
  /* Specific square types */
  .square0 {
    background-image: url("../Images/pacmanAvatar.png");
  }
  .square1 {
    width: 30%;
    height: 30%;
    border-radius: 50%;
    background-color: #ffff00;
  }
  .square2 {
    background-image: url("../Images/gRed.png");
  }
  .square3 {
    background-image: url("../Images/wall.png");
  }
  .square4 {
    background-color: #000000;
  }
  .square5 {
    background-image: url("../Images/gGreen.png");
  }

#levelSelection {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    align-items: center; 
    gap: 1vmin;
  }

  .level-btn {
    flex: 1 1 auto; 
  }
  
.button {
  align-items: center;
  appearance: none;
  background-clip: padding-box;
  background-color: initial;
  background-image: none;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  flex-direction: row;
  flex-shrink: 0;
  font-family: Eina01, sans-serif;
  font-size: 16px;
  font-weight: 800;
  justify-content: center;
  line-height: 24px;
  margin: 1vmin;
  margin-top: 2vmin;
  min-height: 1vmin;
  outline: none;
  overflow: visible;
  padding: 19px 26px;
  pointer-events: auto;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: auto;
  word-break: keep-all;
  z-index: 0;
}

.button:before,
.button:after {
  border-radius: 80px;
}

.button:before {
  background-image: linear-gradient(92.83deg, #ff7426 0, #f93a13 100%);
  content: "";
  display: block;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -2;
}

.button:after {
  background-color: initial;
  background-image: linear-gradient(#541a0f 0, #0c0d0d 100%);
  bottom: 4px;
  content: "";
  display: block;
  left: 4px;
  overflow: hidden;
  position: absolute;
  right: 4px;
  top: 4px;
  transition: all 100ms ease-out;
  z-index: -1;
}

.button:hover:not(:disabled):before {
  background: linear-gradient(
    92.83deg,
    rgb(255, 116, 38) 0%,
    rgb(249, 58, 19) 100%
  );
}

.button:hover:not(:disabled):after {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  transition-timing-function: ease-in;
  opacity: 0;
}

.button:active:not(:disabled) {
  color: #ccc;
}

.button:active:not(:disabled):before {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ),
    linear-gradient(92.83deg, #ff7426 0, #f93a13 100%);
}

.button:active:not(:disabled):after {
  background-image: linear-gradient(#541a0f 0, #0c0d0d 100%);
  bottom: 4px;
  left: 4px;
  right: 4px;
  top: 4px;
}

.button:disabled {
  cursor: default;
  opacity: 0.24;
}

.button-green:before {
  background-image: linear-gradient(92.83deg, #32a852 0, #248c3b 100%);
}

.button-green:hover:not(:disabled):before {
  background: linear-gradient(
    92.83deg,
    rgb(50, 168, 82) 0%,
    rgb(36, 140, 59) 100%
  );
}

.button-green:active:not(:disabled):before {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ),
    linear-gradient(92.83deg, #32a852 0, #248c3b 100%);
}
.button-green:after {
  background-color: initial;
  background-image: linear-gradient(#0f542c 0, #0c0d0d 100%);
  bottom: 4px;
  content: "";
  display: block;
  left: 4px;
  overflow: hidden;
  position: absolute;
  right: 4px;
  top: 4px;
  transition: all 100ms ease-out;
  z-index: -1;
}
